@use '../utils/breakpoints';

.reviews-section {
    padding: 3rem 0;

    @include breakpoints.media-breakpoint-up(400px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    @include breakpoints.media-breakpoint-up(768px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.review-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: .01rem solid #212121;
    border-radius: .3rem;
    padding: 1rem;

    > .date {
        margin: 0;
    }

    > .profilebox {
        display: flex;
        align-items: center;
        gap: 1rem;

        > .imagebox {
            > .image {
                border-radius: 50%;
            }
        }

        > .userbox {
            > .name {
                font-size: 1.1rem;
                font-weight: bold;
            }

            > .ratebox {
                display: flex;
                align-items: center;
                gap: .5rem;

                > .starbox {
                    > .icon {
                        color: #ff962a;
                    }
                }

                > .date {
                    display: none;
                }

                @include breakpoints.media-breakpoint-up(900px) {
                    > .date {
                        display: block;
                    }
                }
            }
        }
    }
}